/* Universal Rules */

body {
    font-family: helvetica, sans-serif;
}

html {
    font-size: 16px;
}

/* Header */

.header-container {
    width: 100%;
    display: flex;
    margin-left: 24px;
    margin-right: 24px;
    background-color: white;
    margin-top: -8px;
    height: 64px;
    justify-content: space-between;
}


.header-logo {
    display: flex;
    align-items: center;
    font-size: 2rem;
}

.header-logo .colmar-text {
    font-weight: bold;
}

.header-logo .academy-text {
    font-weight: lighter;
}


.header-logo img {
    height: 64px;
}

.header-navigation {
    margin-right: 24px;
    display: flex;
    align-items: center;
}

.header-navigation a {
    text-decoration: none;
    color: black;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
}

.header-navigation a:hover{
    background-color:darkslategray;
    color: white;
    padding: 16px 20px;
}

.icon {
    display:none;
}

/* Lead Image */

.lead-image-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: silver;
    align-items: center;
}

.lead-image-image {
    width: 60%;
    margin: 32px 24px;
}

.lead-image-image img {
    object-fit: contain;
    height: 100%;
    width: 100%;
}

.lead-image-text {
    width: 30%;
    margin-bottom: 170px;
    margin-left: 20px;
}

.lead-image-text h1 {
    font-size: 3.5rem;
}

.lead-image-text h3 {
    font-size: 1.5rem;
}

.lead-image-text p {
    width: 70%;
    background-color: darkslategray;
    text-align: center;
    padding-top: 8px;
    padding-bottom: 8px;
    color: white;
}

/* Main Content */

.main-content-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-top: 32px;
}

.main-content-lead-image {
    width: 60%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    margin: 0px 24px;
}

.main-content-lead-image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.main-content-text {
    line-height: 1.2rem;
    margin-bottom: 1.5rem;
}

.emanuel {
    font-size: 0.8rem;
}

.main-content-supports {
    width: 35%;
}

.main-content-block {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 16px;
}
.main-content-block.-one {
    margin-top: -16px; 
}

.main-content-block.-silver {
    background-color: silver;
}

.main-content-block-image {
    max-width: 35%;
    flex-basis: 35%;
}

.main-content-block-image img {
    width: 100%;
    height: auto;
    object-fit: contain;
}

.main-content-block-image-text {
    max-width: 65%;
    flex-basis: 65%;
    padding-left: 16px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.main-content-block-image-text h3 {
    font-size: 1.7rem;
    margin: 0;
}

.main-content-block-image-text a {
    text-decoration: none;
    color: darkcyan;
}

.main-content-block-image-text p {
    margin-bottom: 0.5rem;
}

/* Learning */

.lead-learning-container {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: silver;
}

.learning-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.learning-header h2 {
    margin-top: 32px;
    font-size: 2rem;
}

.learning-articles {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 32px;
}

.learning-block {
    width: 25%;
    margin: 8px;
    background-color: white;
}

.learning-block img {
    height: auto;
    width: 100%;
    object-fit: contain;
}

.learning-block-text {
    margin-left: 16px;
    margin-bottom: 24px;
    margin-right: 16px;
}

.learning-block-text h3 {
    font-size: 1.25rem;
}

.learning-block-text p {
    font-weight: lighter;
    line-height: 1.5rem;
}

/* Thesis Exhibit */

.thesis-main-content-container {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.thesis-content-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.thesis-content-container h2 {
    text-align: center;
    width: 100%;
    margin-top: 32px;
    margin-bottom: 32px;
    font-size: 2rem;
}

.main-content-lead-video {
    width: 60%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    margin: 0px 24px;
}

.main-content-lead-video video {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.main-content-lead-video h3 {
    font-size: 2rem;
}

.thesis-content-text {
    line-height: 1.2rem;
    margin-bottom: 1.5rem;
}

.thesis-content-supports {
    width: 35%;
}

.thesis-content-block {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 16px;
}


.thesis-content-block-image {
    width: 35%;
}

.thesis-content-block-image-text {
    margin-bottom: 15px;
    margin-left: 1.5rem;
}

.thesis-content-block {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 8px;
}

.thesis-content-block-image-text h3 {
    font-size: 1.7rem;
    margin-bottom: 0.5rem;
}

.thesis-content-text {
    margin-bottom: 4rem;
}

/* Footer */

.footer-container {
    width: 100%;
    display: flex;
    margin-left: 24px;
    margin-right: 24px;
    background-color: white;
    margin-top: -8px;
    height: 64px;
    justify-content: space-between;
    border-top: 0.5px solid black;
}


.footer-logo {
    display: flex;
    align-items: center;
    font-size: 2rem;
}

.footer-logo .academy-text {
    font-weight: lighter;
    font-size: 0.75rem;
}


.footer-logo img {
    height: 64px;
}

.footer-navigation {
    margin-right: 24px;
    display: flex;
    align-items: center;
}

.footer-navigation a {
    text-decoration: none;
    color: black;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    font-size: 0.75rem;
    font-weight: lighter;
}


/* MOBILE OPTIMISED */


@media only screen and (max-width : 580px) {

    /* Header */

.header-container {
    width: 100%;
    display: flex;
    margin-left: 24px;
    margin-right: 24px;
    background-color: white;
    margin-top: -8px;
    height: 64px;
    justify-content: space-between;
}

.header-logo {
    display: flex;
    align-items: center;
    font-size: 2rem;
}

.header-logo .colmar-text {
    display: none;
}

.header-logo .academy-text {
    display: none;
}


.header-logo img {
    height: 64px;
}

.header-navigation {
    margin-right: 24px;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.header-navigation ul {
    display: flex;
    flex-direction: row;
    padding: 0px 12px;
}

.header-navigation ul a {
    padding: 0px 40px;
}

.header-navigation a:hover{
    background-color:white;
    color: white;
    padding: 0px 40px;
}


.header-navigation a {
    text-decoration: none;
    color: black;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    display: none;
}

.icon {
    display: block !important;
}

/* Lead Image */

.lead-image-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: silver;
    align-items: center;
}

.lead-image-image {
    width: 100%;
}

.lead-image-image img {
    object-fit: contain;
    height: 100%;
    width: 100%;
    margin-top: -32px;
}

.lead-image-text {
    width: 100%;
    margin-bottom: 32px;
    margin-left: 30px;
}

.lead-image-text h1 {
    font-size: 3rem;
    margin-top: 0px;
    margin-bottom: 0px;r
}

.lead-image-text h3 {
    font-size: 1.5rem;
}

.lead-image-text p {
    width: 90%;
    background-color: darkslategray;
    text-align: center;
    padding-top: 8px;
    padding-bottom: 8px;
    color: white;
}

/* Main Content */

.main-content-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top: 32px;
}

.main-content-lead-image {
    width: 60%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    margin: 0px 24px;
    display: none;
}

.main-content-lead-image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.main-content-text {
    line-height: 1.2rem;
    margin-bottom: 1.5rem;
}

.emanuel {
    font-size: 0.8rem;
}

.main-content-supports {
    width: 100%;
}

.main-content-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px;
}
.main-content-block.-one {
    margin-top: -16px; 
}

.main-content-block.-silver {
    background-color: white;
}

.main-content-block-image {
    width: 100%;
    height: 200px;
    max-width: 100%;
    flex-basis: 100%;
}

.main-content-block-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  
}

.main-content-block-image-text {
    min-width: 98%;
    flex-basis: 100%;
    padding-left: 8px;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: baseline;
}

.main-content-block-image-text h3 {
    font-size: 1.7rem;
    margin: 0;
}

.main-content-block-image-text a {
    text-decoration: none;
    color: darkcyan;
}

.main-content-block-image-text p {
    margin-bottom: 0.5rem;
}

/* Learning */

.lead-learning-container {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: white;
}

.learning-container {
    width:100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.learning-header h2 {
    margin-top: 32px;
    font-size: 2.5rem;
}

.learning-articles {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 32px;
}

.learning-block {
    width: 100%;
    margin: 3px;
    background-color: silver;
}

.learning-block:hover {
    background-color: aqua;
}


.learning-block img {
    height: auto;
    width: 100%;
    object-fit: contain;
    display: none;
}

.learning-block-text {
    margin-left: 16px;
    margin-bottom: 24px;
    margin-right: 16px;
}

.learning-block-text h3 {
    font-size: 1.25rem;
}

.learning-block-text p {
    font-weight: lighter;
    line-height: 1.5rem;
    display: none;
}

/* Thesis Exhibit */

.thesis-main-content-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.thesis-content-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.thesis-content-container h2 {
    text-align: center;
    width: 100%;
    margin-top: 32px;
    margin-bottom: 32px;
    font-size: 2rem;
}

.main-content-lead-video {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0px 0px;
}

.main-content-lead-video video {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.main-content-lead-video h3 {
    font-size: 2rem;
    display: none;
}

.thesis-content-text {
    line-height: 1.2rem;
    margin-bottom: 1.5rem;
    display: none;
}

.thesis-content-supports {
    width: 35%;
}

.thesis-content-block {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 16px;
    display: none;
}


.thesis-content-block-image {
    width: 35%;
    display: none;
}

.main-content-block-image.display {
    display: none;
}

.main-content-text.display {
    display: none;
}

.thesis-content-block-image-text {
    margin-bottom: 15px;
    margin-left: 1.5rem;
    display:
}

.thesis-content-block {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 8px;
}

.thesis-content-block-image-text h3 {
    font-size: 1.7rem;
    margin-bottom: 0.5rem;
}

.thesis-content-text {
    margin-bottom: 4rem;
}

.main-content-block-image-text.display {
    display: none;
}

/* Footer */

.footer-container {
    width: 100%;
    display: flex;
    margin-left: 0px;
    margin-right: 0px;
    background-color: white;
    margin-top: -8px;
    height: 64px;
    justify-content: space-between;
    border-top: 0.5px solid black;
}


.footer-logo {
    display: flex;
    align-items: center;
    font-size: 2rem;
}

.footer-logo .academy-text {
    font-weight: lighter;
    font-size: 0.75rem;
}


.footer-logo img {
    height: 64px;
}

.footer-navigation {
    margin-right: 24px;
    display: flex;
    align-items: center;
}

.footer-navigation a {
    text-decoration: none;
    color: black;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    font-size: 0.75rem;
    font-weight: lighter;
}

 }